.user-table {
  button {
    padding: 1px 7px 2px;
    border-radius: 50%;
  }

  td {
    min-width: 150px;
    max-width: 170px;
    word-break: break-word;
  }

  td:first-child {
    min-width: 0px;
    max-width: 170px;
    word-break: break-word;
  }
}